.aboutComp{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0px;
    padding-bottom: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    padding-left: 3%;
    gap: 44px;
    align-items: center;
    background-color: white;
}
.name{
    font-size: 120px;
    font-weight: 600;
}
.abputme{
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    color: white;
    border-radius: 80px 0px 80px 0px;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}
.aboutComp_abs{
    margin-top: 14%;
}
@media only screen and (min-width: 150px) and (max-width: 750px){
    .aboutComp{
        width: 100%;
        margin-top: 0px;
        margin-bottom:0px;
        bottom:0px;
        padding-bottom: 20px;
        height: auto;
        background-color: white;
        grid-template-columns: 40% 40%;
        grid-gap: 5%;
        display: block;
    }
    .aboutComp_abs{
        margin-top: 14%;
        padding: 20px;
    }   
}