.topView{
    width: 100%;
    height: 100%;
    background-color: #222;
}
.topView{
    margin-left: 0%;
    margin-top: 0%;
}
.par{
    top: 0px;
}
.topView_Stuff
{
    position: absolute;
    top: 267px;
    left: 258px;
}
.topView_Name{
    color: white;
}
.topView_TypeText{
    color: white;
}
.topView_Skills{
    display: flex;
    width: 0%;
    color: white;
}
.topView_Htmlcss{
 background-color: #222;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 2%;
 padding-bottom: 2%;
 margin-left: 20px;
 border-radius: 20px;
 box-shadow: 3px 3px 0 #23B5D3, 2px 2px 0 #23B5D3, 1px 1px 0 #23B5D3;
 
}
.topView_React{
    background-color: #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 #CCDDE2, 2px 2px 0 #CCDDE2, 1px 1px 0 #CCDDE2;
}
.topView_Php{
    background-color: #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 #DEC3BE, 2px 2px 0 #DEC3BE, 1px 1px 0 #DEC3BE;
}
.topView_FM{
    background-color: #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 #D58936, 2px 2px 0 #D58936, 1px 1px 0 #D58936;
}
.topView_Git{
    background-color:#222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 #F1F2F6, 2px 2px 0 #F1F2F6, 1px 1px 0 #F1F2F6;
}
.topView_Blend{
    background-color:#222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 #DDA448, 2px 2px 0 #DDA448, 1px 1px 0 #DDA448;
}
@media only screen and (min-width: 150px) and (max-width: 750px){
    .topView{
        width: 100%;
        height: 683px;
        background-color: #222;
    }
    .topView{
        margin-left: 0%;
        margin-top: 0%;
    }
    .par{
        top: 0px;
    }
    .topView_Stuff
    {
        position: absolute;
        top: 167px;
        left: 58px;
    }
    .topView_Name{
        color: white;
    }
    .topView_TypeText{
        color: white;
    }
    .topView_Skills{
        display: block;
        width: 0%;
        color: white;
    }
    .topView_Htmlcss{
     background-color: #222;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 2%;
     padding-bottom: 2%;
     margin-left: 20px;
     border-radius: 20px;
     width: 200px;
     box-shadow: 3px 3px 0 #23B5D3, 2px 2px 0 #23B5D3, 1px 1px 0 #23B5D3;
     
    }
    .topView_React{
        background-color: #222;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2%;
        width: 200px;
        padding-bottom: 2%;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 0 #CCDDE2, 2px 2px 0 #CCDDE2, 1px 1px 0 #CCDDE2;
    }
    .topView_Php{
        background-color: #222;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2%;
        width: 200px;
        padding-bottom: 2%;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 0 #DEC3BE, 2px 2px 0 #DEC3BE, 1px 1px 0 #DEC3BE;
    }
    .topView_FM{
        background-color: #222;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2%;
        width: 200px;
        padding-bottom: 2%;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 0 #D58936, 2px 2px 0 #D58936, 1px 1px 0 #D58936;
    }
    .topView_Git{
        background-color:#222;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2%;
        width: 200px;
        padding-bottom: 2%;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 0 #F1F2F6, 2px 2px 0 #F1F2F6, 1px 1px 0 #F1F2F6;
    }
    .topView_Blend{
        background-color:#222;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2%;
        width: 200px;
        padding-bottom: 2%;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 0 #DDA448, 2px 2px 0 #DDA448, 1px 1px 0 #DDA448;
    }
}